[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore_global
	pager = /usr/bin/less
[color]
	diff = always
	pager = false
[fetch]
	prune = true
	pruneTags = true
[merge]
	ff = only
[pull]
	rebase = true
[push]
	default = nothing
[rebase]
	autoStash = true
[rerere]
	enabled = true
[status]
	showStash = true
	showUntrackedFiles = all
[user]
	useConfigOnly = true

