# only hit tab once instead of twice when possible completions are ambiguous
set show-all-if-ambiguous on

# don't ignore case when using command line completion
set completion-ignore-case off

# use tab to cycle through autocomplete options¬                                                                                                                     
TAB: menu-complete¬
