# only hit tab once instead of twice when possible completions are ambiguous
set show-all-if-ambiguous on

# don't ignore case when using command line completion
set completion-ignore-case off

# use tab to cycle through autocomplete options
#TAB: menu-complete

# add a / to completed symlinks that are directories
set mark-symlinked-directories on

# a character denoting a file’s type is appended to the filename when listing possible completions
set visible-stats on

# Use `bind -p` to find out what is bound and what is unbound
# use what's already typed as input for searching through history
"\e[B": history-search-forward
"\e[A": history-search-backward
